<div class="col-md-2 right-column hidden-xs">
    <div class="icon-facebook-float">
        <img src="./assets/img/icon-float-facebook.png" />
    </div>
    <div class="right-column-img-2">
        <img src="./assets/img/right-column-img-2.png" />
    </div>
</div>