<header>
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand pull-left" href="/">
                <img src="./assets/img/logo.png">
            </a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse" id="navigationbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/introduce.html">Giới thiệu </a></li>
                <li><a href="/policy.html">Chính sách &amp; Quy định</a></li>
                <li><a href="/qna.html">Hỏi &amp; đáp</a></li>
                <li style="margin-right:5px;"><a href="/contact.html">Liên hệ</a></li>
                <li><a href="http://influencer.microkols.com/" class="btn btn-primary btn-regular-text btn-header">Đăng ký / Đăng nhập</a></li>
            </ul>
        </div>
    </div>
</header>