<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,700,900" rel="stylesheet" type="text/css">
    <link href="./assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="./assets/css/theme.css" rel="stylesheet">
    <link href="./assets/css/site.css" rel="stylesheet">
    <link href="./assets/css/site-update.css" rel="stylesheet">
    <link href="./assets/css/lightbox.css" rel="stylesheet">
</head>
<body class="{{bodyClasses}}">
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v7.0&appId=666737706778990&autoLogAppEvents=1"></script>
<div class="container-fluid">
    {% include "../share/header.html" %}
    {% block content %}{% endblock %}
</div>
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/bootstrap3.4.1.min.js"></script>
<script src="./assets/js/site.js"></script>
<script src="./assets/js/lightbox.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        setTimeout(function () {
            $('.right-column').height($('#content-page').height());
        }, 2000);
    });
</script>
</body>
</html>