<section id="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="wrap-headline pull-left">
                    <h1 class="text-left">Nền tảng</h1>
                    <h2 class="text-left h1">MICROKOLS</h2>
                    <h3 class="text-left h1">tối ưu hàng đầu tại</h3>
                    <h4 class="text-left h1">Việt Nam</h4>
                    <h5 class="h4"><strong><i>Tìm hiểu thêm thông tin bạn là:</i></strong></h5>
                    <ul class="list-inline list-unstyled text-left">
                        <li>
                            <a class="btn btn-primary btn-bold-text btn-lg btn-lg-radius" href="/agency.html" role="button">Tôi là Doanh nghiệp</a>
                        </li>
                        <li class="hidden-md visible-xs" style="height:5px;">&nbsp;</li>
                        <li>
                            <a class="btn btn-danger btn-bold-text btn-lg btn-lg-radius" href="/influencer.html" role="button">Tôi là Influencer</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="content-page" class="landing-page">
    <div class="row">
        <div class="col-md-10 col-lg-10 left-column">
            <!--row 1-->
            <div class="row row-1">
                <div class="col-md-4 column-1">
                    <div class="flex fl-nw pl-30 pt-30">
                        <div class="icon">
                            <img src="./assets/img/icon_influencer.png" class="pt-15">
                        </div>
                        <div class="col-md-10 flex-center hidden-xs">
                            <h1 class="txt-white txt-h1-bold">Mạng lưới Influencer rộng lớn</h1>
                        </div>
                        <div class="col-md-10 hidden-md visible-xs">
                            <h1 class="txt-white txt-h1-bold">Mạng lưới Influencer rộng lớn</h1>
                        </div>
                    </div>
                    <h4 class="ml-30 pb-40 txt-white txt-lineheight">
                        Nhãn hàng có thể kết hợp với những influencers ở hàng chục
                        lĩnh vực với hàng triệu người theo dõi, qua đó tăng khả năng tiếp cận người dùng mục tiêu một
                        cách tối đa.
                    </h4>
                </div>
                <div class="col-md-4 column-2">
                    <div class="flex fl-nw pl-30 pt-30">
                        <div class="icon">
                            <img src="./assets/img/icon_tech.png" class="icon pt-15">
                        </div>
                        <div class="col-md-10 flex-center hidden-xs">
                            <h1 class="txt-gray txt-h1-bold">Công nghệ tiên tiến</h1>
                        </div>
                        <div class="col-md-10 flex-lc hidden-md visible-xs">
                            <h1 class="txt-gray txt-h1-bold">Công nghệ tiên tiến</h1>
                        </div>
                    </div>
                    <h4 class="ml-30 pb-40 txt-gray txt-lineheight">
                        Cùng với sự cho phép của Facebook, chúng tôi ứng dụng AI vào toàn bộ
                        quá trình trong chiến dịch để làm nó nhanh hơn, rẻ hơn và tốt hơn. Bạn cũng có thể dễ dàng làm
                        việc mọi lúc, mọi nơi cả trên PC và mobile.
                    </h4>
                </div>
                <div class="col-md-4 column-3">
                    <div class="flex fl-nw pl-30 pt-30">
                        <div class="icon">
                            <img src="./assets/img/icon_software.png" class="icon pt-15">
                        </div>
                        <div class="col-md-10 flex-center hidden-xs">
                            <h1 class="txt-gray txt-h1-bold">Xã hội hóa công việc của bạn</h1>
                        </div>
                        <div class="col-md-10 hidden-md visible-xs">
                            <h1 class="txt-gray txt-h1-bold">Xã hội hóa công việc của bạn</h1>
                        </div>
                    </div>
                    <h4 class="ml-30 pb-40 txt-gray txt-lineheight">
                        Doanh nghiệp làm truyền thông hướng ra xã hội nên hãy để cả
                        xã hội làm truyền thông cho doanh nghiệp.
                    </h4>
                </div>
            </div>
            <!--row 2-->
            <div class="row row-2 pl-70 pt-40 pb-20">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Tại sao nên chọn MICROKOLS</h1>
                        </div>
                    </div>
                    <div class="row pt-40 row-re">
                        <div class="col-md-6">
                            <img src="./assets/img/img1.png" class="img-responsive">
                        </div>
                        <div class="col-md-6">
                            <div class="flex fl-nw flex-lc">
                                <div class="icon">
                                    <img src="./assets/img/icon_target.png" class="">
                                </div>
                                <div class="col-md-12 pl-20">
                                    <h1 class="txt-gray txt-h1-bold">Đối với Doanh nghiệp</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-md-offset-1">
                                    <h4 class="pl-20 pb-10 txt-gray txt-lineheight">
                                        Microkols giúp các Nhà quảng cáo truyền tải thông điệp tới hàng trăm
                                        nghìn khách hàng tiềm năng thông qua mạng lưới Influencer.
                                    </h4>
                                    <ul class="whylist">
                                        <li class="pb-10 h4"><strong>Viral thương hiệu một cách tự nhiên, sâu sắc và hiệu quả</strong></li>
                                        <li class="pb-10 h4"><strong>Thực hiện và quản lý chiến dịch dễ dàng</strong></li>
                                        <li class="pb-10 h4"><strong>Tạo ra khác biệt và dấu ấn trong mỗi chiến dịch truyền thông</strong></li>
                                        <li class="h4"><strong>Tiết kiệm tối đa chi phí</strong></li>
                                    </ul>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <!--row 3-->
            <div class="row row-3 pl-70 pt-40 pb-20">
                <div class="col-md-12">
                    <div class="row pt-40">
                        <div class="col-md-6">
                            <div class="flex fl-nw">
                                <div class="icon">
                                    <img src="./assets/img/icon_nano_influencer.png">
                                </div>
                                <div class="col-md-11 pl-20">
                                    <h1 class="txt-gray txt-h1-bold">Đối với Influencer</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-md-offset-1">
                                    <h4 class="pl-20 pb-10 txt-gray txt-lineheight">
                                        Cơ hội gia tăng thu nhập, mang lại giá trị từ những điều bạn đang sở hữu, nâng tầm giá trị của chính influencer.
                                    </h4>
                                    <ul class="whylist">
                                        <li class="pb-10 h4"><strong>Tạo thêm thu nhập cho mỗi người từ việc sử dụng facebook</strong></li>
                                        <li class="pb-10 h4"><strong>Nâng tầm giá trị mỗi cá nhân, đóng góp vào sự phát triển của doanh nghiệp và xã hội</strong></li>
                                        <li class="pb-10 h4"><strong>Đa dạng về hình thức, số lượng chiến dịch cho mỗi influencer</strong></li>
                                        <li class="h4"><strong>Mang lại những trải nghiệm hoàn toàn mới cho mỗi người</strong></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <img src="./assets/img/img2.png" class="img-responsive">
                        </div>

                    </div>
                </div>
            </div>
            <!--row 4-->
            <div class="row row-4 pl-70 pt-40 pb-20">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Những con số đáng chú ý</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6">
                            <div class="flex fl-nw flex-lc">
                                <div class="icon">
                                    <img src="./assets/img/icon_phone.png">
                                </div>
                                <div class="col-md-10 pl-20">
                                    <h1 class="txt-gray txt-h1-bold">Cộng đồng đông đảo và văn minh</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h4 class="pl-20 pb-20 txt-gray txt-lineheight">
                                        Hàng nghìn influencer tương ứng với hàng triệu người liên quan ở tất cả các ngành nghề, lĩnh vực trong xã hội
                                    </h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="flex fl-nw flex-lc">
                                <div class="icon">
                                    <img src="./assets/img/icon_prototype.png">
                                </div>
                                <div class="col-md-10 pl-20">
                                    <h1 class="txt-gray txt-h1-bold">Đa dạng nội dung sáng tạo</h1>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-10 col-md-offset-1">
                                    <h4 class="pl-20 pb-20 txt-gray txt-lineheight">
                                        Mỗi cá nhân mang lại một nội dung mới trong chiến dịch, tạo ra.
                                    </h4>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="row pt-40 row-circle">
                        <div class="col-md-12">
                            <ul class="list-inline list-unstyled hidden-xs fl-nw">
                                <li>
                                    <div class="shape-circle solid-color-2">
                                        <h1>6000+</h1>
                                    </div>
                                    <h2 class="h4">Influencer</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-4">
                                        <h1>200M+</h1>
                                    </div>
                                    <h2 class="h4">Lượt hâm mộ</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-5">
                                        <h1>70M+</h1>
                                    </div>
                                    <h2 class="h4">Tiếp cận</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-6">
                                        <h1>30M+</h1>
                                    </div>
                                    <h2 class="h4">Tương tác</h2>
                                </li>
                            </ul>
                            <ul class="list-inline list-unstyled hidden-md hidden-lg visible-xs txt-center">
                                <li>
                                    <div class="shape-circle solid-color-2" style="margin:0 auto;">
                                        <h1>6000+</h1>
                                    </div>
                                    <h2 class="h4">Influencer</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-4" style="margin:0 auto;">
                                        <h1>200M+</h1>
                                    </div>
                                    <h2 class="h4">Lượt hâm mộ</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-5" style="margin:0 auto;">
                                        <h1>70M+</h1>
                                    </div>
                                    <h2 class="h4">Tiếp cận</h2>
                                </li>
                                <li>
                                    <div class="shape-circle solid-color-6" style="margin:0 auto;">
                                        <h1>30M+</h1>
                                    </div>
                                    <h2 class="h4">Tương tác</h2>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 5-->
            <div class="row row-5 pl-70 pt-40 pb-20">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Hơn <strong class="txt-gray">500</strong> nhãn hàng hợp tác với Microkols</h1>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-6 col-xs-12">
                            <h4 class="pb-20 txt-gray txt-lineheight w-75 hidden-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                            <h4 class="pb-20 txt-gray txt-lineheight hidden-md visible-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>

                            <div class="txt-box hidden-xs">
                                <h4>
                                    <span class="txt-lineheight">
                                        Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                        Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                    </span>
                                </h4>
                                <img src="./assets/img/phay.png" class="img-phay hidden-xs">
                            </div>
                            <h4 class="visible-xs hidden-sm hidden-md hidden-lg">
                                <span class="txt-lineheight">
                                    Nền tảng Microkols cung cấp nhiều thông tin quan trọng về influencers và followers của họ.
                                    Hệ thống quản lý thông minh giúp làm việc dễ dàng. Chúng tôi sẽ tiếp tục làm việc cùng các bạn trong tương lai.
                                </span>
                            </h4>
                        </div>
                        <div class="col-md-6 hidden-xs">
                            <img src="./assets/img/img_romano.png" class="img-responsive">
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <img src="./assets/img/logo_brand.png" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
            <!--row 6-->
            <div class="row row-6 pl-70 pt-40 pb-20">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-12">
                            <h1 class="txt-h1-bold-2 txt-blue-2">Hãy tham gia cùng chúng tôi ngay hôm nay!</h1>
                        </div>
                    </div>
                    <div class="row pt-20">
                        <div class="col-md-12">
                            <h4 class="pb-20 txt-gray txt-lineheight w-75 hidden-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                            <h4 class="pb-20 txt-gray txt-lineheight hidden-md visible-xs">
                                Microkols giúp influencers hợp tác &amp; xây dựng quan hệ với cả những nhãn hàng nội địa
                                lẫn quốc tế để giúp họ có thu nhập bằng chính sự ảnh hưởng của mình một cách đơn giản nhất.
                            </h4>
                        </div>
                    </div>
                    <div class="row pt-40">
                        <div class="col-md-12">
                            <ul class="list-inline list-unstyled text-left">
                                <li>
                                    <a class="btn btn-primary btn-bold-text btn-lg btn-lg-radius" href="/agency.html" role="button">Tôi là Doanh nghiệp</a>
                                </li>
                                <li class="hidden-md visible-xs" style="height:5px;">&nbsp;</li>
                                <li>
                                    <a class="btn btn-danger btn-bold-text btn-lg btn-lg-radius" href="/influencer.html" role="button">Tôi là Influencer</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!--row 7-->
            {% include "share/footer.html" %}
        </div>
        <div class="col-md-2 col-lg-2 right-column hidden-xs">
            <div class="icon-facebook-float">
                <img src="./assets/img/icon-float-facebook.png" />
            </div>
            <div class="right-column-img-2">
                <img src="./assets/img/right-column-img-2.png" />
            </div>
        </div>
    </div>
</section>