.row{display: flex; flex-wrap: wrap;}
.fl-nw{display: flex; flex-wrap: nowrap;}
.fl-jc{display: flex; justify-content: space-between;}
.flex-lc{display: flex; align-items: center;}
.flex-cl-re{flex-direction: column-reverse;}
.col-md-12{width: 100%;}
.txt-center{text-align: center;}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{line-height: 1.4;}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
header{
  .brand{padding: 2.1rem 0;}
}
.left-column-intro{
  .list-unstyled{
    padding: 40px;
    .txt-bold{margin: 0; color: #4F4F4F;}
    p{font-size: 18px; color: #4F4F4F;}
  }
  .box-img{
    img{width: 100%; object-fit: cover;}
  }
  .introduce-s3,.introduce-s6{
    justify-content: space-between;
    .bg_white,.bg_grey{width: 45%; display: flex; flex-direction: column; justify-content: space-between;}
  }
}
.contact-txt-box-01 .btn-regular-text{
  width: 150px; height: 46px;
  border-radius: 9999px;
  font-size: 18px;
}
.input-lg{border: 1px solid #BDBDBD; border-radius: 0;}
.input-lg::placeholder,textarea::placeholder{font-style: italic; color: #BDBDBD; font-size: 18px;}
.agency-stage-02-box{
  width: 31%;
  border: 1px solid transparent;
  .txt-bold{min-height: 150px;}
  .icon{display: none;}
}
.influencer-page,.agency-page{
  .btn-start{width: 200px; height: 47px; border-radius: 9999px; font-size: 18px;}
  .influencer-bg-row-1 .row-1-icon{}
}
section#content-page{
  .influencer-row2{
    .influencer-txt-box-01{top: 54%; transform: translateY(-50%);}
    h4{margin: 0;}
  }
  .influencer-row3{
    .influencer-box{width: 31%;}
    .txt-bold{margin: 0; min-height: 140px;}
  }
  .influencer-row4{
    .influencer-txt-box-01 .txt-bold{margin: 0;}
    .h3, h3{font-size: 18px;}
  }
  .row-4 .list-unstyled{justify-content: center;}
}
.landing-page{
  .row-4 h4.pl-20 {
    padding-left: 50px;
  }
}

@media (max-width: 1440px) {
  .h4, h4{font-size: 16px;}
  .txt-h1-bold{font-size: 21px; line-height: 1.3;}
  .txt-h1-bold-2,h1{font-size: 26px;}
  .landing-page{
    .row-1{
      .h1{margin-top: 0;}
      .icon img{max-width: 90%; padding-top: 0;}
    }
    .row-2,.row-3{
      .icon{width: 60px;}
      .icon img{max-width: 100%;}
    }
  }
  section#content-page .row-5 .txt-box{padding: 30px;}
  section#content-page{
    .row-2 .agency-txt-box-01,.row-3 .agency-txt-box-02{padding: 20px;}
    .row-2 .agency-txt-box-01{left: 520px;}
    .row-3 .agency-txt-box-02{left: 0;}
    .row-4 .agency-txt-box-03{left: 520px; padding: 20px;}
    .row-1 .introduce-txt-box-02{left: 0;}
    .row-2{
      .influencer-txt-box-01{
        padding: 30px; left: 520px;
        .h2, h2{font-size: 20px;}
      }
      .influencer-txt-box-02{
        .h2, h2{font-size: 20px;}
      }
    }
    .row-3 .introduce-txt-box-02{left: 0;}
    .row-3 .introduce-txt-box-01{left: inherit; right: 0;}
    .row-4{
      .influencer-txt-box-01{left: 540px;}
    }
    .row-2 .influencer-txt-box-02{left: 0; right: initial;}
    .influencer-row3 .txt-bold {min-height: 120px; font-size: 26px;}
  }
  section#influencer-intro-header{
    h6{font-size: 36px;}
  }
  section#agency-intro-header{
    h1,h2,h3,h4{font-size: 42px;}
    h6{font-size: 34px;}
  }
  .agency-stage-02-box{
    .txt-bold{min-height: 100px; font-size: 22px;}
  }
  .row-circle ul li{padding: 0 10px;}
  .shape-circle h1{font-size: 28px;}
  .whylist{
    li{margin: 0; font-size: 14px;}
  }
}

@media (max-width: 1023px) {
  header{
    .container{width: 100%;}
    .brand{padding: 1rem 0; padding-left: 9px;}
  }
  .img-number{max-width: 70%;}
  .nav-tabs > li a{font-size: 17px;}
  .icon{
    .pt-15{padding-top: 10px;}
    img{max-width: 80%;}
  }
  .txt-h1-bold{font-size: 18px;}
  .txt-h1-bold{margin-left: 0;}
  .txt-h1-bold-2{font-size: 22px;}
  .btn-group-lg > .btn, .btn-lg{font-size: 15px;}
  .agency-page{
    .txt-h1-bold-2{font-size: 16px;}
  }
  .pl-70 {
    padding-left: 30px;
  }
  .pl-40{padding-left: 0;}
  .ml-70{margin-left: 30px;}
  .h4, h4{font-size: 14px;}
  .txt-lineheight{line-height: 24px;}
  .landing-page{
    .row-4{
      .pl-20{padding-left: 0;}
      h4.pl-20{padding-left: 65px;}
      .txt-h1-bold{font-size: 16px;}
    }
  }
  section#intro-header{
    background-position: 30% 0%;
    .container{width: 100%;}
    h1,h2,h3,h4{margin: 10px 0; font-size: 22px;}
  }
  section#introduce-intro-header{
    background-position: 45% 0;
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    h1,h2,h3,h4,h5,h6{font-size: 28px;}
    .container{width: 100%;}
  }
  section#content-page{
    .right-column{width: 100%;}
    .row-4 .agency-txt-box-03{left: initial; right: 0;}
    .influencer-row3{
      .txt-bold{min-height: 80px; font-size: 18px;}
      .list-unstyled img{float: left; margin-right: 10px;}
    }
    .row-2 .row-re{flex-direction: column-reverse;}
  }
  section#policy-intro-header{
    .container{width: 100%;}
    h1,h2,h3,h4,h5,h6{font-size: 28px;}
  }
  section#qna-intro-header,section#contact-intro-header{
    .container{width: 100%;}
    box-shadow: inset 0 0 0 100vmax rgba(0, 0, 0, 0.4);
    h1,h2,h3,h4,h6{margin: 10px 0; font-size: 28px;}
  }
  section#qna-intro-header{background-position: 20% 0;}
  section#contact-intro-header{background-position: 60% 0;}
  section#agency-intro-header{
    background-position: 0 0;
    background-size: inherit;
    .container{width: 100%;}
    h1,h2,h3,h4,h6{margin: 10px 0; font-size: 26px; color: #333;}
    h1{max-width: 100%;}
    h6{max-width: 80%; font-size: 16px; color: #333;}
  }
  section#influencer-intro-header{
    background-position: 46% 0;
    .container{width: 100%;}
    h1,h2,h3,h4{margin: 10px 0; font-size: 28px; color: #333;}
    h6{font-size: 18px; color: #333;}
  }
  .influencer-page{
    .influencer-bg-row-1 .row-1-icon{display: none;}
    .txt-lineheight-2{font-size: 18px; line-height: 1.6;}
  }
  .faqs-page{
    .item-question{font-size: 14px;}
  }
  .whylist{
    li{padding-bottom: 0; line-height: 1.5;}
  }
  .row-1{
    .col-md-4{padding-left: 30px;}
  }
  .left-column-intro{
    .list-unstyled{
      padding: 15px;
      p{font-size: 16px;}
    }
    .bg_white,.bg_grey{margin-bottom: 30px;}
  }
  .agency-stage-02-box{
    .icon{display: block; width: 60px;}
    .txt{flex: 1;}
  }
  .shape-circle h1{font-size: 20px; font-weight: 700;}

  footer{
    .pt-40{padding-top: 20px;}
    .pt-20{padding-top: 10px;}
  }
}

@media (max-width: 767px) {
  .left-column-intro{
    .introduce-s3,.introduce-s6{
      .bg_white,.bg_grey{width: 100%;}
    }
  }
  .nav-qa{
    margin: 15px 0;
    > li > a{padding: 8px 10px;}
  }
  .agency-stage-02-box{margin-bottom: 10px; width: 100%;}
  .agency-stage-02-box{
    .txt-lineheight{padding-left: 50px; line-height: 24px;}
    .txt-bold {
      margin-top: 0;
      min-height: 50px; font-size: 16px;
    }
  }
  .influencer-page{
    .row-fls{display: flex; flex-direction: column-reverse;}
    .row-2 .row{margin-bottom: 20px;}
  }
}

@media (min-width: 768px) and (max-width: 1300px) {
  .nav{
  > li > a{padding: 10px;  font-size: 12px;}
  }
  .shape-circle h1{font-size: 26px;}
  section#content-page .row-5 .txt-box{padding: 25px; left: 200px;}
  section#content-page{
    .row-1 .introduce-txt-box-02{/*height: 100%;*/ width: 46%; padding: 30px; left: 0;}
    .row-2 .agency-txt-box-01{left: initial; width: 46%; /*height: 100%;*/ padding: 30px; right: 0; bottom: 0;}
    .row-3 .agency-txt-box-02{transform: translateY(0); top: initial; bottom: 0;}
    .row-3 .introduce-txt-box-01{padding: 20px; width: 43%; right: 0; left: initial; height: initial; top: 51.5%; transform: translateY(-50%);}
    .row-3 .introduce-txt-box-02{top: 51.5%; transform: translateY(-50%); width: 43%; height: initial; left: 0; padding: 20px;}
    .row-2 .influencer-txt-box-01,.row-4 .influencer-txt-box-01{left: initial; right: 0;}
    .row-2 .influencer-txt-box-02,.row-4 .influencer-txt-box-02{left: 0; right: initial;}
    .row-4 .agency-txt-box-03{left: initial; right: 0;}
  }
  .qa-title{font-size: 30px;}
}

@media (min-width: 1024px) and (max-width: 1200px) {
  section#agency-intro-header{
    h1{font-size: 40px;}
    h6{font-size: 32px;}
  }
  section#content-page{

  }
}

@media (max-width: 360px) {
  section#content-page .left-column{width: 100%;}
  section#contact-intro-header{
    h1,h2,h3,h4,h5,h6{font-size: 25px;}
  }
}

