// Core bootstrap variables and mixins
$img-path: "../img";
$font-path: "../font";
.btn {
  border-radius: 2px;
  -webkit-transition: background 0.1s linear;
  -webkit-transition: background background 0.1s linear;
  transition: background background 0.1s linear
}

header {
  background-color: #fff
}

header ul {
  margin: 0
}

header a,
header li {
  padding: 1.4rem 0;
  color: #828282;
  font-size: 14px
}

header li.separate {
  padding: 0 10px 0 10px
}

header .container {
  width: 90%
}

header li a:hover {
  text-decoration: none;
  color: #2D9CDB;
  font-weight: 700
}

.btn-primary {
  color: #fff!important;
  border-radius: 20px;
  background-color: #18A0FB;
  border-color: transparent
}

.btn-danger {
  color: #fff!important;
  border-radius: 20px;
  background-color: #EB5757;
  border-color: transparent
}

.btn-default {
  color: #18A0FB!important;
  border-radius: 20px;
  background-color: #fff;
  border-color: transparent
}

.btn-danger-2 {
  color: #EB5757!important;
  border-radius: 20px;
  background-color: #fff;
  border-color: transparent
}

.btn-lg-radius {
  border-radius: 25px
}

.btn-bold-text {
  font-weight: 700
}

.btn-regular-text {
  font-weight: 600
}

.mt-20 {
  margin-top: 20px
}

.mt-30 {
  margin-top: 30px
}

.mt-40 {
  margin-top: 40px
}

.ml-10 {
  margin-left: 10px
}

.ml-20 {
  margin-left: 20px
}

.ml-30 {
  margin-left: 30px
}

.ml-50 {
  margin-left: 50px
}

.ml-70 {
  margin-left: 70px
}

.mb-20 {
  margin-bottom: 20px
}

.mb-30 {
  margin-bottom: 30px
}

.mb-40 {
  margin-bottom: 40px
}

.pt-5 {
  padding-top: 5px
}

.pt-10 {
  padding-top: 10px
}

.pt-20 {
  padding-top: 20px
}

.pt-15 {
  padding-top: 15px
}

.pt-30 {
  padding-top: 30px
}

.pt-40 {
  padding-top: 40px
}

.pt-50 {
  padding-top: 50px
}

.pt-60 {
  padding-top: 60px
}

.pl-10 {
  padding-left: 10px
}

.pl-20 {
  padding-left: 20px
}

.pl-30 {
  padding-left: 30px
}

.pl-40 {
  padding-left: 40px
}

.pl-50 {
  padding-left: 50px
}

.pl-70 {
  padding-left: 70px
}

.pb-10 {
  padding-bottom: 10px
}

.pb-20 {
  padding-bottom: 20px
}

.pb-30 {
  padding-bottom: 30px
}

.pb-40 {
  padding-bottom: 40px
}

.pb-50 {
  padding-bottom: 50px
}

.p-10 {
  padding: 10px
}

.p-20 {
  padding: 20px
}

.p-30 {
  padding: 30px
}

.p-40 {
  padding: 40px
}

.p-50 {
  padding: 50px
}

.h-300 {
  height: 300px
}

.h-400 {
  height: 400px
}

.h-500 {
  height: 500px
}

.h-600 {
  height: 600px
}

.h-700 {
  height: 700px
}

section#agency-intro-header {
  background-image: url('#{$img-path}/agency-banner.png');
  background-size: cover;
  background-position: center center;
}

section#agency-intro-header .container {
  width: 90%
}

section#agency-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%
}

section#agency-intro-header h1,
section#agency-intro-header h2,
section#agency-intro-header h3,
section#agency-intro-header h4 {
  color: #4F4F4F;
  font-weight: bold;
  font-size: 48px
}
section#agency-intro-header h6{font-size: 40px;}

section#agency-intro-header h2 {
  font-weight: 900
}

section#content-page .row-2 .agency-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  bottom: 0px;
  z-index: 999;
  .txt-bold{color: #4F4F4F;}

}

section#content-page .row-3 .agency-txt-box-02 {
  background-color: #f2f2f2;
  padding: 40px;
  width: 50%;
  position: absolute;
  left: 150px;
  top: 54%;
  transform: translateY(-50%);
  z-index: 999
}

section#content-page .row-4 .agency-txt-box-03 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 110px;
  z-index: 999
}

.agency-stage-02-box:hover {
  border: 1px solid #2D9CDB
}

section#influencer-intro-header {
  background-image: url('#{$img-path}/influencer-banner.png');
  background-size: cover;
  background-position: right center;
}

section#influencer-intro-header .container {
  width: 90%
}

section#influencer-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 10%
}

section#influencer-intro-header h1,
section#influencer-intro-header h2,
section#influencer-intro-header h3,
section#influencer-intro-header h4 {
  color: #4F4F4F;
  font-weight: bold;
  font-size: 48px
}
section#influencer-intro-header h6{margin-top: 0; font-size: 48px;}

section#influencer-intro-header h2 {
  font-weight: 900
}

.influencer-bg-row-1 .column-1 {
  background-color: #F66666!important
}

section#content-page .row-2 .influencer-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-2 .influencer-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 200px;
  top: 120px;
  z-index: 999
}

section#content-page .row-4 .influencer-txt-box-01 {
  background-color: #fff;
  padding: 40px;
  width: 50%;
  position: absolute;
  left: 550px;
  bottom: 0;
  z-index: 999
}

section#content-page .row-4 .influencer-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  bottom: 0;
  z-index: 999
}

.nav-tabs {
  text-align: right
}

.nav-tabs {
  border-bottom: none
}

.nav-tabs>li {
  display: inline-block;
  float: none
}

.nav-tabs>li a {
  color: #4F4F4F;
  font-size: 22px;
  font-weight: 700;
  border: none
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover {
  color: #2D9CDB;
  cursor: default;
  background-color: #fff;
  border: none!important;
  border-bottom: 3px solid #2D9CDB!important
}

.faqs-page .panel {
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none
}

.faqs-page .panel-group .panel+.panel {
  margin-top: 10px
}

.faqs-page .item-question {
  display: block;
  line-height: 24px;
  padding: 9px 50px 13px 70px;
  font-weight: bold;
  font-size: 15px;
  position: relative;
  color: #333
}

.faqs-page .item-question:hover,
.faqs-page .item-question:focus {
  text-decoration: none!important;
  color: #2D9CDB!important
}

.faqs-page .item-question:after {
  content: "-";
  font-family: FontAwesome;
  font-weight: normal;
  position: absolute;
  right: 18px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 20px;
  color: #2D9CDB
}

.faqs-page .item-question.collapsed:after {
  color: #111;
  content: "+"
}

.faqs-page .item-question span {
  width: 35px;
  height: 35px;
  line-height: 32px;
  text-align: center;
  border-radius: 100%;
  background-color: #ececec;
  display: inline-block;
  position: absolute;
  left: 17px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%)
}

.faqs-page .panel-body {
  padding: 20px 20px 20px 70px;
  font-size: 15px;
  line-height: 26px
}

section#introduce-intro-header {
  background-image: url('#{$img-path}/introduce-banner.jpg');
  background-size: cover
}

section#introduce-intro-header .container {
  width: 90%
}

section#introduce-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%
}

section#introduce-intro-header h1,
section#introduce-intro-header h2,
section#introduce-intro-header h3,
section#introduce-intro-header h4,
section#introduce-intro-header h6 {
  color: #fff;
  font-weight: bold;
  font-size: 48px
}

section#introduce-intro-header{
  .text-left{margin-bottom: 0;}
  .txt-lineheight-2{margin-top: 0; font-weight: 400;}
}

section#introduce-intro-header h2 {
  font-weight: 900
}

.introduce-txt-box-02{
  h1{margin-top: 0; color: #4F4F4F;}
}

.introduce-row-2 {
  background-color: #F2F2F2
}

section#content-page .row-2 .introduce-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-1 .introduce-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  max-width: 604px;
  position: absolute;
  left: 150px;
  bottom: 0;
  z-index: 999
}

section#content-page .row-3 .introduce-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .introduce-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 100px;
  top: 120px;
  z-index: 999
}

section#policy-intro-header {
  background-image: url('#{$img-path}/policy-banner.jpg');
  background-size: cover
}

section#policy-intro-header .container {
  width: 90%
}

section#policy-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%
}

section#policy-intro-header h1,
section#policy-intro-header h2,
section#policy-intro-header h3,
section#policy-intro-header h4,
section#policy-intro-header h6 {
  color: #fff;
  font-weight: bold;
  font-size: 48px
}
section#policy-intro-header{
  h1{margin-bottom: 0;}
  h6{margin-top: 0; font-weight: 400;}
}

section#policy-intro-header h2 {
  font-weight: 900
}

.policy-row-2 {
  background-color: #F2F2F2
}

section#content-page .row-2 .policy-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-1 .policy-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .policy-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .policy-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-4 .policy-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#qna-intro-header {
  background-image: url('#{$img-path}/qna-banner.jpg');
  background-size: cover
}

section#qna-intro-header .container {
  width: 90%
}

section#qna-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%
}

section#qna-intro-header h1,
section#qna-intro-header h2,
section#qna-intro-header h3,
section#qna-intro-header h4,
section#qna-intro-header h6 {
  color: #fff;
  font-weight: bold;
  font-size: 48px
}

section#qna-intro-header,section#contact-intro-header{
  h1{margin-bottom: 0;}
  h6{margin-top: 0; font-weight: 400;}
}

section#qna-intro-header h2 {
  font-weight: 900
}

.qna-row-2 {
  background-color: #F2F2F2
}

section#content-page .row-2 .qna-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-1 .qna-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .qna-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .qna-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-4 .qna-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#contact-intro-header {
  background-image: url('#{$img-path}/contact-banner.jpg');
  background-size: cover
}

section#contact-intro-header .container {
  width: 90%
}

section#contact-intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%
}

section#contact-intro-header h1,
section#contact-intro-header h2,
section#contact-intro-header h3,
section#contact-intro-header h4,
section#contact-intro-header h6 {
  color: #fff;
  font-weight: bold;
  font-size: 48px
}

section#contact-intro-header{
  h1{margin-bottom: 0;}
  h6{margin-top: 0; font-weight: 400;}
}

section#contact-intro-header h2 {
  font-weight: 900
}

.contact-row-2 {
  background-color: #F2F2F2
}

section#content-page .row-2 .contact-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-1 .contact-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 70%;
  position: absolute;
  left: 300px;
  top: 80px;
  z-index: 999
}

section#content-page .row-3 .contact-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 550px;
  top: 120px;
  z-index: 999
}

section#content-page .row-3 .contact-txt-box-02 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

section#content-page .row-4 .contact-txt-box-01 {
  background-color: #fff;
  padding: 50px;
  width: 50%;
  position: absolute;
  left: 250px;
  top: 120px;
  z-index: 999
}

html,
body {
  font-family: "Montserrat", helvetica, arial, verdana, sans-serif;
  height: 100%;
  min-height: 100%;
  line-height: 1.4;
  color: #4F4F4F;
  overflow-x: hidden;
}

.full-height {
  height: 3873px
}

.contact-full-height {
  height: 1130px
}

.policy-full-height {
  height: 3617px
}

.agency-full-height {
  height: 5387px
}

.influencer-full-height {
  height: 4690px
}

.introduce-full-height {
  height: 5052px
}

.qna-full-height {
  height: 1209px
}

.container-fluid {
  margin: 0;
  padding: 0
}

.row-bottom-border {
  border-bottom: 1px solid #ddd
}

.nowrap {
  white-space: nowrap
}

section#intro-header {
  background-image: url('#{$img-path}/landing-banner.jpg');
  background-size: cover
}

section#intro-header .container {
  width: 90%
}

section#intro-header .wrap-headline {
  position: relative;
  padding-top: 10%;
  padding-bottom: 18%;
  .h1, .h2, .h3, h1, h2, h3{margin-bottom: 0; margin-top: 10px;}
}

section#intro-header h1,
section#intro-header h2,
section#intro-header h3,
section#intro-header h4 {
  color: #333;
  font-weight: 400;
  font-size: 48px;
  line-height: 1.1;
}

section#intro-header h2 {
  font-weight: 700
}

section#intro-header .wrap-headline h5.h4 {
  margin-top: 30px!important;
  margin-bottom: 20px!important;
  color: #4F4F4F
}

section#content-page .left-column,
section#content-page .right-column {
  padding: 0;
  margin: 0
}

section#content-page .container {
  width: 90%
}

section#content-page .row {
  margin-right: -5px;
}

section#content-page .right-column {
  background-image: url('#{$img-path}/bg_right.jpg');
  background-position: top left;
  background-repeat: repeat-y;
  background-size: 100%;
}

section#content-page .row-1 {
  background-color: #FBFBFB
}

section#content-page .row-7 {
  background-color: #4F4F4F
}

section#content-page .row-5,
section#content-page .row-3 {
  background-color: #F2F2F2
}

section#content-page .row-5 .txt-box {
  background-color: #fff;
  padding: 50px;
  width: 75%;
  position: relative;
  left: 300px;
  z-index: 999
}

.img-phay {
  position: absolute;
  top: -15px;
  left: -65px;
  z-index: 9999
}

section#content-page .row-1 .column-1 {
  background-color: #2D9CDB
}

section#content-page .row-1 .column-2 {
  background-color: #F2F2F2
}

section#content-page .row-1 .column-3 {
  background-color: #FBFBFB
}

.qa-title {
  color: #2D9CDB;
  font-size: 36px;
  font-weight: 700
}

.w-25 {
  width: 25%
}

.w-45 {
  width: 45%
}

.w-50 {
  width: 50%
}

.w-75 {
  width: 75%
}

.txt-white {
  color: #fff
}

.txt-blue-2 {
  color: #2D9CDB
}

.txt-gray {
  color: #4F4F4F
}

.txt-h1-bold {
  margin: 10px 0;
  font-size: 36px;
  font-weight: 700
}

.txt-bold {
  font-weight: 700
}

.txt-h1-bold-2 {
  font-weight: 700;
  font-size: 48px
}

.txt-lineheight {
  line-height: 30px
}

.txt-lineheight-2 {
  line-height: 50px
}

.bg_white {
  background-color: #fff
}

.bg_grey {
  background-color: #F2F2F2
}

.shape-circle {
  width: 180px;
  height: 180px;
  border-radius: 90px
}

.shape-circle h1 {
  line-height: 180px;
  font-weight: 900;
  color: #fff;
  text-align: center
}

.row-circle ul li {
  padding-right: 40px
}

.row-circle h2 {
  text-align: center;
  font-weight: 700;
  color: #4F4F4F
}

.solid-color-1 {
  background-color: #EB5757
}

.solid-color-2 {
  background-color: #F2994A
}

.solid-color-3 {
  background-color: #F2C94C
}

.solid-color-4 {
  background-color: #6FCF97
}

.solid-color-5 {
  background-color: #56CCF2
}

.solid-color-6 {
  background-color: #BB6BD9
}

